/* ===== NAV PROFILE SECTION ===== */

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.explore-link,
.host-btn {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text);
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 20px;
  transition: background 0.2s ease;
  border: none;
  background: transparent;
  white-space: nowrap;
  cursor: pointer;
}

.explore-link:hover,
.host-btn:hover {
  background: #ababab;
}

.auth-profile-group {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 3px 0;
  /* cursor: pointer; */
  /* background: transparent; */
}

.login-btn,
.signup-btn,
.logout-btn {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  /* color: var(--color-text); */
  padding: 6px 10px;
  border-radius: 20px;
  /* transition: background 0.2s ease; */
  border: none;
  background: transparent;
  white-space: nowrap;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover,
.logout-btn:hover {
  background: #c9c7c7;
}

.profile span {
  font-size: 13px;
  font-weight: 600;
  color: white;
  background-color: var(--color-primary);
  padding: 6px 14px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}


/* ============================= */
/* ===== MOBILE RESPONSIVE ===== */
/* ============================= */

@media(max-width: 768px) {
  .nav-right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .explore-link,
  .host-btn,
  .login-btn,
  .signup-btn,
  .logout-btn,
  .profile span {
    width: 100%;
    padding: 14px 0;
    font-size: 16px;
    border: 1px solid #e2cccc;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
  }

  .auth-profile-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    padding: 0;
    margin-bottom: 50px;
  }

  .signup-btn,
  .profile span {
    background: transparent;
    color: var(--color-primary);
    font-weight: 600;
    justify-content: center;
  }
  .signup-btn{
    margin-top: 10px; 
  }

  .profile {
    margin-top: 10px;
    width: 100%;
  }

  .profile span:hover{
    background-color: #ababab;
  }
}